#quote-form {
    max-width: 800px;
    margin: 0 auto;

    .row {
    margin-top: 1em;
    margin-bottom: 2em;
      @include respond-to(phone) {margin-bottom: -1em;}
      @include respond-to(smalltablet) {margin-bottom: -1em;}
    }
    input[type=text], input[type=email], textarea {
        border-radius: 0;
        border: 1px solid $primary_colour;
    }

    textarea {
        resize: none;
    }

    label {
        color: $primary_colour;
    }

    .input-group-addon {
        color: $primary_colour;
        border: 1px solid $primary_colour;
        border-right: none;
    }
}

.xhr2 #quote-form input[type=file] {
  display: none;
}

#quote-form .file-browse-btn {
  border: 2px solid $primary_colour;
  padding: 0.2em 1em;
  margin-left: 2em;
  vertical-align: sub;
  @include respond-to(phone) {display: block; margin: 1em auto; width: 150px; text-align: center;}
  @include respond-to(smalltablet) {display: block; margin: 1em auto; width: 150px; text-align: center;}
}

#quote-form .submit-group {
  text-align: center;
  margin: 3em auto;
}

#quote-form .submit-group input[type=submit] {
  width: 200px;
  background: $primary_colour;
  border-radius: 0;
  border-color: $primary_colour;
}

#quote-form .input-group, #quote-form .form-group {
  @include respond-to(phone) {margin: 1em;}
  @include respond-to(smalltablet) {margin: 1em;}
  @include respond-to(largetablet) {margin: 1em;}
}

#quote-form .file-select-area {
  padding: 2em;
}



