@font-face {
  font-family: 'fabada';
  src: url("../../fonts/Fabada-regular.ttf");
}

$head_font: 'fabada', Helvetica, Ariel, sans-serif;
$content_font: 'Roboto', Calibri, Helvetica, Ariel, sans-serif;