html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#nav-toggler {
  color: $white;
  padding: 6px 0.5em;
  display: none;
}

#nav-toggler i {
  padding: 8px;
}

.site-wrap {
  position: relative;
  height: 100%;
}

.push-wrap {
  width: 100%;
  height: 100%;
}

.toggled-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background: transparent;
  text-align: center;
  transition: .7s;
  transform: translate3d(-500px, -100%, 0);
  border-radius: 100%;
  opacity: 0;
}

.show-nav .toggled-nav {
  background: rgba(244,62,7,0.95);
  z-index: 10;
  transform: translate3d(0, 0, 0);
  border-radius: 0;
  opacity: 1;
}

.show-nav .toggled-nav ul {
  opacity: 1;
}

.toggled-nav ul {
  width: 100%;
  position: absolute;
  list-style-type: none;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: .7s;
}

.toggled-nav ul li {
  height: 4em;
  line-height: 4em;
  color: $white;
}

.toggled-nav ul li a {
  font-size: 3em;
  color: inherit;
  text-decoration: none;
  font-family: $content_font;
  font-weight: 300;
  transform: scale(.3);
  transition: all 700ms cubic-bezier(.17,.67,.38,1.46);
}

.show-nav .toggled-nav ul li a {
  transform: scale(1);
}

.menu-image-holder {
  padding-top: 2em;
  padding-bottom: 1em;
}

.nav-close-button {
  color: $white;
  font-size: 4em;
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

.side-nav {
  width: 20%;
  height: 100%;
  position: fixed;
}

.content {
  width: 80%;
  min-height: 100%;
  float: right;
}

@media screen and (max-width: 480px) {
  .side-nav {
    display: none;
  }

  #nav-toggler {
    display: inline;
  }

  .content {
    float: none;
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1100px) {
  .side-nav {
    position: relative;
    display: block;
    width: 100%;
    float: none;
    height: auto;
  }

  .side-nav .nav-list-holder {
    border: none;
    border-left: none;
    padding: 0;
  }

  .side-nav ul {
    text-align: right;
    padding-right: 0.5em;
  }

  .side-nav .nav-list-holder ul li {
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
    height: 2em;
    line-height: 2em;
    border: 1px solid $secondary_colour;
    border-radius: 0;
    font-size: 1em;
    width: auto;
  }

  .side-nav ul li:before {
    display: none;
  }

  .content {
    float: none;
    width: 100%;
  }
}